header {
  grid-row: 4;
  height: 100%;
  width: 100%;
  max-width: 768px;
  display: grid; }
  header .header__about {
    padding: 10px;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 142%;
    text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
    color: #82F9A1;
    width: 100%; }
  header .header__description {
    padding: 10px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #ECF8FF;
    width: 100%; }
    header .header__description a {
      color: #1DA1F2;
      text-decoration: underline;
      padding: 4px; }